<div class="container "> 
<header>
    <h2>Add Media to your Library</h2>
</header>
<button  class="disBtn" (click)="displayForm()">Add new media</button>
</div>

<form 
[ngClass]="{'_form': !formDis}"
[formGroup]="form"
(ngSubmit)="onSubmit(form.value)"
>
    <ul>
        <li> 
            <label for="name">Name of movie or serie</label>           
            <input [ngClass]="{'borderBot': form.get('name').valid}" name="name" type="text" id="name" placeholder="How I met your mother" formControlName="name">
        </li>
        <li>
            <label for="medium">Type</label>
            <select name="medium" id="medium" formControlName="medium">
                <option *ngFor="let medium of lookUpList.mediums" value={{medium}}>{{medium}}</option>
                
            </select>
        </li>
        <li> 
            <label for="type">Type of movie or serie</label>           
            <input [ngClass]="{'borderBot': form.get('type').valid}" name="type" type="text" id="type" placeholder="Comedy" formControlName="type">
        </li>
        <li>
            <label for="episodeLength">Length of episode</label>
            <input [ngClass]="{'borderBot': form.get('lengthOfEP').valid}"   name="lengthOfEP" type="text" id="name" placeholder="1h 30m" formControlName="lengthOfEP">
        </li>
        <li>
            <label for="numberOfEp">Number of episodes/seasons</label>
            <input  [ngClass]="{'borderBot': form.get('numberOfEp').valid}" name="numberOfEp" type="text" id="name" placeholder="10e/15s" formControlName="numberOfEp">
        </li>
        <li>
            <label for="whenWatched">Was watched on</label>
            <input  [ngClass]="{'borderBot': form.get('whenWatched').valid}" name = "whenWatched" type="text" placeholder="mm/yyyy" formControlName="whenWatched">
        </li>
    </ul>
    <button [ngClass]="{disabled : (!form.get('name').valid || !form.get('medium').valid)}" type="submit" [disabled]="(!form.get('name').valid || !form.get('medium').valid)">Save</button>
</form>
