form {
  width: fit-content;
  box-shadow: 1px 1px 6px rgb(15, 47, 228);
}
form ul li input,
form ul li select {
  display: block;
}
form ul {
  list-style-type: none;
}
form ul li {
  margin-top: 0.4rem;
}
input {
  transition: 0.4s;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(89, 89, 233, 0.637);
  outline: none;
  width: 70%;
}
::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
  font-weight: 400;
}

input:focus {
  border-bottom: 2px solid rgba(123, 24, 204, 0.836);
}
form label {
  font-size: 1.24rem;
  font-weight: 600;
}
select {
  background: transparent;
  transition: 0.3s;
  border: rgba(89, 89, 233, 0.637);
  border-radius: 0.3rem;
  width: 30%;
}
option {
  background: rgba(89, 89, 233, 0.637);
  border: 30px solid black;
  border-radius: 0.3rem;
}
select:hover {
  background: rgba(89, 89, 233, 0.64);
}
button {
  transition: 0.4s;
  background: rgba(15, 128, 39, 0.87);
  padding: 0.5rem 1.1rem;
  border-radius: 2.3rem;
  color: rgb(66, 66, 230);
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid rgba(89, 89, 233, 0.64);
  outline: none;
  margin-left: 13rem;
  margin-bottom: 0.2rem;
}
button:hover {
  background: transparent;
  border: 2px solid rgb(15, 128, 39);
  color: rgba(15, 128, 39, 0.788);
}
.disabled {
  background: rgba(15, 128, 39, 0.432);
}
