<div class=" ml-3 item col-lg-11  col-md-12 col-sm-12 mt-5" > 
<div class="info">
<h2 > {{mediaItem.name}} </h2>
<div> {{mediaItem.type}} </div>
<ng-template [ngIf]="mediaItem.wasWatched">
<div> {{ mediaItem.wasWatched }}</div> 
</ng-template>
<div> Length of episode: {{mediaItem.lengthOfEpisode}} </div>
<div> Episodes: {{mediaItem.episodes}}</div>
<div> Was watched on:  {{mediaItem.wasWatchedOn}} </div>
</div>
<div class="tools mt-1 ">
    
    <a class="btn btn-danger ml-1 mr-1  " (click)="onDelete()">Remove

    </a>

    <a class="btn btn-primary mr-1 ml-1 ">Watch

    </a>
    <span class="fa fa-star ml-2" (click)="ratingFunc()"[class.rate]="isRated"></span>


</div>
</div>


